
header {
  background-color: #FFFFFF;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  font-family: "Playfair Display";
  color: #f44336;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  margin-top: 15px;
  color: black;
}

header nav a.active {
  background: var(--primary);
}
